# WHO Crude Suicide Rates (2000 - 2019)

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns

In [15]:
# path Salvo
df_raw=pd.read_csv("C:/Users/Lavoro/Desktop/Data/WHO Crude Suicide Rates.csv")
df=df_raw.copy()
df.head()

In [3]:
# path Giovanni
df_raw=pd.read_csv(r"C:\Users\giova\Desktop\Boolean\Files\Slide\Modulo 6 - Final Project & Career Service/WHOCrudeSuicideRates_2021-07-16v1.csv")
df=df_raw.copy()
df

,WHO Region Code,WHO Region,Country Code,Country,Year,IsLatestYear,Sex,Age Group,Crude suicide rates (per 100 000 population) (numeric),Crude suicide rates (per 100 000 population) (low estimation),Crude suicide rates (per 100 000 population) (high estimation),Crude suicide rates (per 100 000 population) (string)
0,AMR,Americas,ATG,Antigua and Barbuda,2019,True,Both sexes,15-19 years,0.00,NaN,NaN,0
1,AMR,Americas,ATG,Antigua and Barbuda,2019,True,Both sexes,15-24 years,0.00,NaN,NaN,0
2,AMR,Americas,ATG,Antigua and Barbuda,2019,True,Both sexes,15-29 years,0.00,NaN,NaN,0
3,AMR,Americas,ATG,Antigua and Barbuda,2019,True,Both sexes,25-34 years,0.00,NaN,NaN,0
4,AMR,Americas,ATG,Antigua and Barbuda,2019,True,Both sexes,30-49 years,0.00,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
17014,AMR,Americas,CUB,Cuba,2000,False,Female,All Ages,9.84,8.47,11.36,9.84 [8.47 – 11.36]
17015,EMR,Eastern Mediterranean,MAR,Morocco,2000,False,Both sexes,All Ages,9.90,4.67,18.08,9.9 [4.67 – 18.08]
17016,WPR,Western Pacific,KIR,Kiribati,2000,False,Female,All Ages,9.94,6.13,15.08,9.94 [6.13 – 15.08]
17017,WPR,Western Pacific,MNG,Mongolia,2000,False,Female,All Ages,9.96,6.14,15.02,9.96 [6.14 – 15.02]
17018,EUR,Europe,RUS,Russian Federation,2000,False,Male,All Ages,96.67,94.11,99.09,96.67 [94.11 – 99.09]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17019 entries, 0 to 17018
Data columns (total 12 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   WHO Region Code                                                 17019 non-null  object
 1   WHO Region                                                      17019 non-null  object
 2   Country Code                                                    17019 non-null  object
 3   Country                                                         17019 non-null  object
 4   Year                                                            17019 non-null  int64
 5   IsLatestYear                                                    17019 non-null  bool
 6   Sex                                                             17019 non-null  object
 7   Age Group                                                       17019 non-null  object
 8   Crude suicide rates (per 100 000 population) (numeric)          17019 non-null  float64
 9   Crude suicide rates (per 100 000 population) (low estimation)   10980 non-null  float64
 10  Crude suicide rates (per 100 000 population) (high estimation)  10980 non-null  float64
 11  Crude suicide rates (per 100 000 population) (string)           17019 non-null  object
dtypes: bool(1), float64(3), int64(1), object(7)
memory usage: 1.4+ MB

In [18]:
df.columns

Index(['WHO Region Code', 'WHO Region', 'Country Code', 'Country', 'Year',
       'IsLatestYear', 'Sex', 'Age Group',
       'Crude suicide rates (per 100 000 population) (numeric)',
       'Crude suicide rates (per 100 000 population) (low estimation)',
       'Crude suicide rates (per 100 000 population) (high estimation)',
       'Crude suicide rates (per 100 000 population) (string)'],
      dtype='object')

In [5]:
# RINOMINO COLONNE
df = df.rename(columns={'WHO Region Code': 'Region Code', 'WHO Region': 'Region','Crude suicide rates (per 100 000 population) (numeric)': 'Suicide Rates (numeric)',
                        'Crude suicide rates (per 100 000 population) (low estimation)': 'Suicide Rates (low estimation)','Crude suicide rates (per 100 000 population) (high estimation)': 'Suicide Rates (high estimation)',
                        'Crude suicide rates (per 100 000 population) (string)': 'Suicide Rates (string)'})

In [6]:
# ELIMINO LE COLONNE INUTILI
df = df.drop(columns=['Suicide Rates (string)','Country Code','Region Code'])

In [7]:
df.head()

,Region,Country,Year,IsLatestYear,Sex,Age Group,Suicide Rates (numeric),Suicide Rates (low estimation),Suicide Rates (high estimation)
0,Americas,Antigua and Barbuda,2019,True,Both sexes,15-19 years,0.0,NaN,NaN
1,Americas,Antigua and Barbuda,2019,True,Both sexes,15-24 years,0.0,NaN,NaN
2,Americas,Antigua and Barbuda,2019,True,Both sexes,15-29 years,0.0,NaN,NaN
3,Americas,Antigua and Barbuda,2019,True,Both sexes,25-34 years,0.0,NaN,NaN
4,Americas,Antigua and Barbuda,2019,True,Both sexes,30-49 years,0.0,NaN,NaN

In [22]:
# NOTA: se il datatype di 'Year' viene cambiato in datetime64[ns], 
# al momento di esportare in csv/excel la colonna avrà ###### nelle celle (quindi meglio lasciarlo in int64/32)

# DATATYPE DATETIME ALLA COLONNA YEAR
df["Year"]=pd.to_datetime(df["Year"], format="%Y")

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17019 entries, 0 to 17018
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Region                           17019 non-null  object
 1   Country                          17019 non-null  object
 2   Year                             17019 non-null  datetime64[ns]
 3   IsLatestYear                     17019 non-null  bool
 4   Sex                              17019 non-null  object
 5   Age Group                        17019 non-null  object
 6   Suicide Rates (numeric)          17019 non-null  float64
 7   Suicide Rates (low estimation)   10980 non-null  float64
 8   Suicide Rates (high estimation)  10980 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(3), object(4)
memory usage: 1.1+ MB

In [24]:
# PRENDO TUTTI I NAN E LI ASSEGNO A DF_NAN
df_nan = df.loc[df.isna().any(axis=1)]

In [25]:
# CONTO TUTTI I NAN
df_nan.isnull().sum()

Region                                0
Country                               0
Year                                  0
IsLatestYear                          0
Sex                                   0
Age Group                             0
Suicide Rates (numeric)               0
Suicide Rates (low estimation)     6039
Suicide Rates (high estimation)    6039
dtype: int64

In [28]:
df.shape

(17019, 9)

In [8]:
df.head()

,Region,Country,Year,IsLatestYear,Sex,Age Group,Suicide Rates (numeric),Suicide Rates (low estimation),Suicide Rates (high estimation)
0,Americas,Antigua and Barbuda,2019,True,Both sexes,15-19 years,0.0,NaN,NaN
1,Americas,Antigua and Barbuda,2019,True,Both sexes,15-24 years,0.0,NaN,NaN
2,Americas,Antigua and Barbuda,2019,True,Both sexes,15-29 years,0.0,NaN,NaN
3,Americas,Antigua and Barbuda,2019,True,Both sexes,25-34 years,0.0,NaN,NaN
4,Americas,Antigua and Barbuda,2019,True,Both sexes,30-49 years,0.0,NaN,NaN

In [9]:
# eliminazione di altre 2 colonne inutili con valori NaN
df = df.drop(columns=['Suicide Rates (low estimation)',	'Suicide Rates (high estimation)'])

In [10]:
df.head()

,Region,Country,Year,IsLatestYear,Sex,Age Group,Suicide Rates (numeric)
0,Americas,Antigua and Barbuda,2019,True,Both sexes,15-19 years,0.0
1,Americas,Antigua and Barbuda,2019,True,Both sexes,15-24 years,0.0
2,Americas,Antigua and Barbuda,2019,True,Both sexes,15-29 years,0.0
3,Americas,Antigua and Barbuda,2019,True,Both sexes,25-34 years,0.0
4,Americas,Antigua and Barbuda,2019,True,Both sexes,30-49 years,0.0

In [11]:
# esportazione Giovanni
df = df.to_excel(r'C:\Users\giova\Desktop\Github Final Project\Dataset puliti\WHOCrudeSuicideRates_2021-07-16v1.xlsx')